.titleSection{
    background-image:linear-gradient(45deg, rgb(0, 0, 0), rgba(46, 2, 2, 0.678)),url('../img/bg2.jpg') ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100vw;
    min-height: 100vh;
} 
.signin{
    position:absolute  !important ;
    right: 10px;
    top: 5px;
    font-weight: bold;
    border-radius: 12px;
    padding: 5px;
    background-color: transparent;
    transition-duration: .5s;
}

.logo img{
    width: 5vw;
    margin: 20px;
}
.logo .companyName{
    display: inline-flex;
    vertical-align: middle;
    color: aliceblue;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    font-size: larger;
}
.locCard, .locationCard{
    display: inline-block;
    vertical-align: middle;
}
.locations .locCard img{
    height: 150px;
    width: 150px;
    display: inline-flex;
}
.locations .locationCard img{
    height: 110px;
    width: 110px;
    display: inline-flex;
    filter: opacity(.4);
    transition-duration: .5s;
}
.locations .locationCard img:hover{
    filter: opacity(1);
}
.daySection{
    padding: 10px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.247) ;
    border-radius: 6px;
    height: 450px;
    background-color:rgb(0,163,163);
    transition-duration: 1s;
    overflow: hidden;
    box-shadow: 3px 3px 10px black;
}
::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}
.daySection:hover{
    background-color: rgba(4, 47, 128, 0.616);

}
.daySection img{
    height: 230px;
}
.happyCustomers img{
    width: 70vw;
    height: 50vh;
}
.customersSlide{
    display: block;
    width: 70vw;
}
.happyCustomers div img{
    width: 70px;
    height: 70px;
    display: block;
    margin: auto;
    }
.package{
    background-color: rgb(240, 248, 255) !important;
    box-shadow: 5px 5px 10px black;
}


.nav-link:hover{
    background-color: rgba(112, 116, 119, 0.445);
}
.bookNow{
    width: 150px;
}
.arrowCarousel{
    padding: 20px !important;
    border-radius: 100%;
    background-color: black !important;
}
@media only screen and (max-width:600px) {
    .signin:hover{
        text-decoration: none;
        background-color: rgb(6, 21, 104)  ;
    }
    }